<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 login-section-wrapper">
                <%- include('./../common/messages') %>
                    <div class="login-wrapper my-auto">
                        <h3>Change Password</h3>
                        <form method="POST" action="/reset-password">
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password"
                                    class="form-control <%= formErrors.password ? 'is-invalid' :'' %>" name="password"
                                    value="" placeholder="Enter password">
                                <% if(formErrors.password){ %>
                                    <div class="invalid-feedback">
                                        <%- formErrors.password.msg %>
                                    </div>
                                    <% } %>
                            </div>

                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input type="password"
                                    class="form-control <%= formErrors.confirmPassword ? 'is-invalid' :'' %>"
                                    name="confirmPassword" value="" placeholder="Enter Confirm Password">
                                <% if(formErrors.confirmPassword){ %>
                                    <div class="invalid-feedback">
                                        <%- formErrors.confirmPassword.msg %>
                                    </div>
                                    <% } %>
                            </div>
                            <br />
                            <input type="hidden" name="ucode" value="<%- ucode %>">
                            <button type="submit" class="btn btn-block login-btn">Save</button>
                        </form>
                    </div>
            </div>
        </div>
    </div>
</main>